*{
    padding: 0%;
    margin: 0%;
}

#main-container{
    background-color:rgb(0, 0, 0);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 #box{
    color: white;
    border: 2px solid white;
    background-color: rgba(237, 57, 210, 0.742);
    font-size: 30px;
    height: 100px;
    width: 100px;
    background-image:url("images/rose 2.webp");
     background-repeat: no-repeat;
     background-size: cover;
    text-align: center;
 }

 @media (max-width: 768px) {
    #main-container{
            display: grid;
            grid-template-rows: repeat(3,1fr);
           min-height: 500px;
    }
    #box {

         background-image:url("images/rose\ 1.jpg");
         background-repeat: no-repeat;
         background-size: cover;
    }
}