*{
    padding: 0;
    margin: 0;
}
 
header{
    height: 50px;
    background-color:white;
}

nav{
    
    display: flex;
    justify-content:space-evenly;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 900;
}

a{
    color: black;
    text-decoration: none;
}

#home{
    height: 700px;
    background-size: cover;
     background-position: center;
     background-image: url("img/home.jpg");
     display: flex;
     justify-content: center;
     align-items: center;
     
} 
     
#home h1{
     color:white;
    font-size: 100px;
}
#about {
    background-color:grey ;
}

h1{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      font-size: 40px;

}
#main-container{
    width: 100%;
    height: 90vh;
    padding-top:100px;
    display: flex;
    justify-content: space-around;
}
span{
    color: orangered;

}
#text{
    width: 500px;
}
h2{
    font-size: 40px;
    padding-bottom: 20px;


}
p{
    font-size: 30px;
    line-height:1.4;

}
.icons{
    font-size: 50px;
    margin-top: 50px;
}

img{
width: 500px;
height: 600px;
border: 5px solid black;
border-radius: 50px;
}
