*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
  
body{
    background-color:#f8f9fa ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    color: black;
    padding-bottom: 10px;
}
#Weather-container{
    width: 700;
    background: linear-gradient(to bottom right , #00feba, #5b548a);
    text-align: center;
    padding: 20px;
    border-radius: 15px;
  box-shadow: 0 2px 6px  rgba(0,0,0,0.2);
  color: #fff;
}

#search-box input{
    padding: 10px;
    border: 2px solid #666;
  border-radius: 10px;
  color:black;
}

#search-box button{
    padding: 10px;
    border: 2px solid #666;
  border-radius: 10px;
  color:black;

}