*{
    padding: 0%;
    margin: 0%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    padding: 15px 0;
    text-transform: capitalize;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.img-items{
    width: 80%;
}

.title {
    font-size: 20px;
    margin-top: 15px;
}

.location {
    font-size: 18px;
    margin-top: 14px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

button {
    font-size: 20px;
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 50px;
    margin-right: 30px;
}
